* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

a {
  padding: 12px;
}

.book-item {
  display: flex;
  gap: 16px;
}

.author {
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 100px;
}
